name: build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
            submodules: true
      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Install x86_64-pc-windows-gnu target
        run: rustup target add x86_64-pc-windows-gnu
      - name: Install protoc
        uses: arduino/setup-protoc@v3
        with:
          version: "33.4"
      - name: Build vsd
        run: cargo build -p vsd --target x86_64-pc-windows-gnu
      - name: Set up upload environment
        uses: benjlevesque/short-sha@v3.0
      - name: Upload windows build
        uses: actions/upload-artifact@v4
        with:
          name: "vsd-${{ env.SHA }}-debug-x86_64-pc-windows-gnu"
          path: target/x86_64-pc-windows-gnu/debug/vsd.exe
